fastapi[all]~=0.115.0
uvicorn~=0.30.6
sqlalchemy~=2.0.35
asyncpg
python-dotenv
pydantic~=2.9.2
alembic~=1.13.3
apscheduler~=3.10.4
email_validator~=2.2.0
starlette~=0.40.0
babel

passlib[bcrypt]
python-jose[cryptography]
pyotp~=2.6.0

#Test
pytest
httpx~=0.27.2
pytest-asyncio
pytest-mock
aiosqlite
rich~=13.9.2


#maintenace
black
isort
pre-commit