fastapi[all]~=0.115.0
uvicorn~=0.30.6
gunicorn~=22.0.0
sqlalchemy~=2.0.35
asyncpg
python-dotenv
pydantic~=2.9.2
alembic~=1.13.3
apscheduler~=3.10.4
email_validator~=2.2.0
starlette~=0.40.0
# I18N
babel~=2.16.0

passlib[bcrypt]
python-jose[cryptography]
# MFA
pyotp~=2.6.0
# Profiling
pyinstrument
# Rate limit
slowapi

#grps
grpcio
grpcio-tools

#graphql
strawberry-graphql[fastapi]

#ML
joblib
scikit-learn
huggingface_hub
requests

#Test
pytest
httpx~=0.27.2
pytest-asyncio
pytest-mock
aiosqlite
rich~=13.9.2
websockets


#maintenace
black
isort
pre-commit